@media (max-width: 1099px) {
    .timeline {
        margin: -26px auto;
        width: 800px;
        gap: 20px ;
        padding: 0 15px;
    }
    
    .timeline img {
        width: 180px;
    }
    
    .timeline-p-1 {
        width: 180px;
    }
    
    .timeline-p-2 {
        width: 180px;
    }
}

@media (max-width: 1060px) {

    .redes-sociais {
        position: absolute;
        right: 10px;
    }

    .sustentabilidade {
        width: 90%;
    }

}

@media (max-width: 899px) {

    .produtos {
        flex-direction: column;
    }

    .produtos img {
        width: 60%;
    }

    .produtos p {
        width: 90%;
    }

}

@media (max-width: 859px) {
    #banner {   
        height: 300px;
    }

    #banner h1 {
        font-size: 25px;
    }
}

@media (max-width: 822px) {
    .timeline {
        margin: -23px auto;
        width: 800px;
        gap: 20px ;
        padding: 0 20px;
    }
    
    .timeline img {
        width: 160px;
    }
    
    .timeline-p-1 {
        width: 160px;
        font-size: 13px;
        margin-bottom: 80px;
    }
    
    .timeline-p-2 {
        width: 160px;
        font-size: 13px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 799px) {

    .redes-sociais {
        position: absolute;
        right: 3%;
    }

    .logo {
        height: 100px;
    }

    .menu {
        display: none;
    }

    .menu ul {
        gap: 10px;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 45px;
        right: 10px;
        padding: 4px;
        border-radius: 5px;
    }

    .mobile-menu-icon button {
       background-color: transparent;
       border: none;
       cursor: pointer;
    }

    .mobile-menu ul {
        text-align: end;
        margin-top: 75px;
        line-height: 2;
    }

    .mobile-menu ul a:hover {
        font-weight: bold;
    }

    .mobile-menu .nav-item {
        display: block;
    }

    .open {
        display: block;
    }

    #banner {   
        height: 250px;
    }
} 

@media (max-width: 739px) {
    .timeline {
        display: none;
    }

    .timeline-escondido {
        display: flex;
        color: white;
        gap: 10px;
        margin: auto;
        text-align: center;
        padding: 15px;
        margin-top: -20px;
    }   

    .timeline-escondido img {
        width: 250px;
    }

    .timeline-escondido p {
        width: 250px;
        margin: 51px 0;
    }

    .timeline-escondido-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .timeline-escondido-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .timeline-escondido-2-2 {
        display: flex;
    }   

    .timeline-escondido-2-2 img {
        width: 250px;
    }

    .timeline-escondido-2-2 p {
        width: 250px;
    }

    .timeline-escondido-2-1 {
        display: flex;
        flex-direction: column;
    }

    .timeline-escondido-2-2 {
        display: flex;
        flex-direction: column;
    }

    #hoje {
        margin-top: 22px;
    }

    #t-e-2 {
        margin-top: 15px;
    }

    .sustentabilidade {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 554px) {
    .timeline-escondido {
        display: flex;
        color: white;
        gap: 7px;
        padding: 10px;
        margin-top: -20px;
    }   

    .timeline-escondido img {
        width: 200px;
    }

    .timeline-escondido p {
        width: 200px;
        margin: 17px 0;
    }

    .timeline-escondido-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .timeline-escondido-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 469px) {
    .logo {
        width: 200px;
        margin: 5px 5px -40px 5px;
    }

    .redes-sociais img {
        width: 12px;
        height: 12px;
    }

    #banner {   
        height: 200px;
    }

    #banner h1 {
        font-size: 20px;
    }
}

@media (max-width: 438px) {
    .timeline-escondido {
        gap: 5px;
        margin-top: -20px;
    }   

    .timeline-escondido img {
        width: 160px;
    }

    .timeline-escondido p {
        width: 160px;
        margin: 15px 0;
        font-size: 12px;
    }

    .timeline-escondido-1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .timeline-escondido-2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 429px) {
    .quadrados {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #q {
        width: 95%;
    }

    .p-q3 {
        font-size: 30px;
    }

    .a-q3 {
        font-size: 30px;
    }
}

@media (max-width: 370px) {
    .logo {
        width: 140px;
        height: 80px;
        margin: 5px 5px -25px 5px;
    }

    .redes-sociais img {
        width: 10px;
        height: 10px;
    }

    #banner {   
        height: 150px;
    }

    #banner h1 {
        font-size: 15px;
        padding: 5px 20px;
    }
}