@media (max-width: 1060px) {

    .redes-sociais {
        position: absolute;
        right: 10px;
    }

}

@media screen and (max-width: 799px) {

    .redes-sociais {
        position: absolute;
        right: 3%;
    }

    .logo {
        height: 100px;
    }

    .menu {
        display: none;
    }

    .menu ul {
        gap: 10px;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 45px;
        right: 10px;
        padding: 4px;
        border-radius: 5px;
    }

    .mobile-menu-icon button {
       background-color: transparent;
       border: none;
       cursor: pointer;
    }

    .mobile-menu ul {
        text-align: end;
        margin-top: 75px;
        line-height: 2;
    }

    .mobile-menu ul a:hover {
        font-weight: bold;
    }

    .mobile-menu .nav-item {
        display: block;
    }

    .open {
        display: block;
    }
} 

@media (max-width: 469px) {
    .logo {
        width: 200px;
        margin: 5px 5px -40px 5px;
    }

    .redes-sociais img {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 370px) {
    .logo {
        width: 140px;
        height: 80px;
        margin: 5px 5px -25px 5px;
    }

    .redes-sociais img {
        width: 10px;
        height: 10px;
    }
}