@charset "UTF0-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    list-style: none;
}

:root {
    --cinza: #393939;
    --azul: #2B308C;
}

.estrutura_site {
    max-width: 1800px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 3px 10px #464646;
    border-bottom: 4px solid var(--azul);
    background-color: white;
}

.logo {
    width: 250px;
    height: auto;
    margin: 10px 10px -45px 10px;
}

.menu {
    align-self: flex-end;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--azul);
    text-transform: uppercase;
}

.menu ul a:hover {
    font-weight: bold;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.redes-sociais img {
    width: 18px;
    height: 18px;
    background-color: lightgray;
    border-radius: 3px;
    padding: 5px;
}

.redes-sociais img:hover {
    background-color: rgb(153, 153, 153);
}

#banner {
    background-size: cover;
    background-position: left;
    height: 400px;
    border-bottom: 4px solid var(--azul);    
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

#banner h1 {
    position: absolute;
    right: 0px;
    padding: 5px 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.493) 10%, white 80%);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto -100px auto;
    max-width: 1400px;
    background-color: #202896;
}

.img-apres {
    width: 100%;
    margin-bottom: -50px;
}

h2 {
    margin: 50px 15px;
    text-transform: uppercase;
    color: aqua;
}

.timeline {
    margin: -36px auto;
    display: flex;
    width: 1100px;
    align-items: center;
    gap: 20px ;
    padding: 0 15px;
}

.timeline img {
    width: 250px;
}

.timeline-p-1 {
    margin-bottom: 60px;
    color: white;
    text-align: center;
    width: 250px;
}

.timeline-p-2 {
    margin-top: 60px;
    color: white;
    text-align: center;
    width: 250px;
}

.timeline-escondido {
    display: none;
}

.divisao {
    height: 100px;
    background-color: #202896;
    max-width: 1400px;
    margin: auto;
}

.quadrados-background {
    max-width: 1400px;
    background-color: #202896;
    display: flex;
    padding: 100px 0px 0 0px;
    margin: auto;
}

.quadrados {
    display: flex;
    margin: 0 auto -120px auto;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}

#q {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.q1 {
    width: 400px;
    height: 350px;
    background-color: #0652B0;
}

.q1 a {
    text-decoration: none;
    color: aqua;
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.q2 {
    width: 400px;
    height: 350px;
    background-color: #1A9FE0;
}

.q3 {
    width: 400px;
    height: 350px;
    background-color: #4FC3EC;
}

.img-quadrados {
    width: 65px;
}

h3 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

#insta-completo {
    width: 40px;
}

.p-q1 {
    font-size: 30px;
    color: aqua;
    text-align: center;
}

.p-q3 {
    font-size: 40px;
    color: #202896;
    text-align: center;
}

.a-q3 {
    text-decoration: none;
    color: #202896;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.a-q3:hover {
    color: #303ce6;
}

iframe {
    width: 90%;
    height: 200px;
}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 170px;
    gap: 50px;
    background-color: white;
}

.produtos img {
    width: 20%;
}

.p-produtos {
    text-transform: uppercase;
    color: gray;
}

.produtos p {
    font-size: 20px;
    text-align: justify;
    width: 60%;
}

#servicos {
    margin-top: 20px;
}

.texto-titulo {
    color: grey;
    text-transform: uppercase;
    font-size: 30px;
}

.sustentabilidade {
    background-color: white;
    border: 2px dashed green;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    color: green;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
    gap: 20px;
    width: 1000px;
    font-size: 20px;
    padding: 15px;
    box-shadow: 2px 7px 20px 3px #000000ab;
}

.sustentabilidade img {
    width: 150px;
}

.serv-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.serv-img img {
    width: 350px;
}
.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1400px;
    box-shadow: 2px 5px 13px #0000005c;
    color: white;
    background-color: grey;
  }
  
  .itens-contato {
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    padding: 20px;
    justify-content: space-between;
  }

  .itens-contato-img {
    width: 30px;
  }
  
  .item-contato {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .itens-contato-p {
    font-size: 1.1em;
  }
  
  .a-contato-azul {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;
  }
  
  .a-contato-azul:hover {
    border-bottom: 2px solid red;
  }
  
  .formulario-contato {
    width: 50%;
    padding: 20px;
  }
  
  .cnome, .creplyto, .assunto {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 242, 242);
  }
  
  .assunto {
    height: 120px;
  }
  
  textarea {
    padding: 10px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btn-enviar {
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: #303ce6;
    cursor: pointer;
  }
  
  .btn-enviar:hover {
    background-color: rgb(0, 185, 0);
    color: white;
  }
  
  .btn-apagar {
    border: none;
    background-color: #808080;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .btn-apagar:hover {
    background-color: red;
  }

  aside {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto 50px auto;
  }

  aside img {
    width: 25%;
  }

  footer {
    background-color: #202896;
  }
  
  .rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1800px;
    gap: 50px;
    padding: 30px;
  }
  
  .logo-rodape {
    width: 250px;
  }
  
  .itens-rodape {
    display: flex;
    gap: 20px;
  }
  
  .a-rodape {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .a-rodape:hover {
    color: red;
  }
  
  .telefone {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
  }
  
  .telefone h3 {
    padding: 20px 0;
  }
  
  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .contato img {
    width: 25px;
  }
  
  .redes-sociais-rodape {
    display: flex;
    gap: 20px;
  }
  
  .redes-sociais-rodape a {
    border-bottom: 2px solid #202896;
  }
  
  .redes-sociais-rodape img{
    width: 35px;
  }
  
  .redes-sociais-rodape a:hover {
    border-bottom: 2px solid red;
    transition-duration: 0,5s;
  }
  
  .registro {
    background-color: #171d6e;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .bortoac-logo {
    width: 30px;
    margin-left: 5px;
  }
  
  .logo-bortoac {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  
  .separacao {
    margin: 50px 0;
    visibility: hidden;
  }

  .dicas {
    background-color: grey;
    color: white;
    margin: 0px auto;
    display: flex;
    padding: 50px;
    flex-direction: column;
  }

  .dicas-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
  }

  .dicas-2 {
    width: 100%;
    margin-top: 50px;
    display: flex;
  }

  .dicas-1 img {
    width: 30%;
  }

  .dicas-texto {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  #titulo-dicas {
    font-weight: bold;
  }

  .dicas-texto-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
